// Pagination make the elements unselectable
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//spinner
@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  vertical-align: middle;
  border-right-color: transparent !important;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}
