// Pagination make the elements unselectable
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//spinner
@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  position: absolute;
  left: -webkit-calc(50% - 50px);
  left: -moz-calc(50% - 50px);
  left: calc(50% - 50px);
  top: -webkit-calc(50% - 50px);
  top: -moz-calc(50% - 50px);
  top: calc(50% - 50px);
  width: rem(50px);
  height: rem(50px);
  border: 2px solid $primary-1;
  border-right-color: transparent !important;
  border-radius: 50%;
  z-index: 1000;
  animation: 0.75s linear infinite spinner-border;
}
