// Color Codes
$white-1: #fff;
$white-2: #e5e7f0;
$white-3: #f5f7fa;
$white-4: #eff2f5;

$blue: #ecf8ff;
$grey-1: #a0a5b6;
$grey-2: #494e50;
$grey-5: #b9b9c6;

$primary: #01a2f9;

$dark-blue: #191d31;

// Font size
$smFontSize: 12px;
$mdFontSize: 14px;
